img, p {
  margin: 0;
}

/* Whole box */
.accs-box {
  border: 2px solid lightgrey;
  border-radius: 4px;
  box-shadow: 2px 2px 10px 0px lightgray;
  display: inline-block;
  margin: 7px;
  vertical-align: top;
  width: 300px;
}

/* vertical box 1 */
.v-box1, .pfp{
  height: 300px;
}

.pfp {
  width: 300px;
}
/* end of vertical box 1 */

/* vertical box 2 */
.v-box2 {
  height: 102px;
}

/* Temporary or Placeholder */
/* name box */
.name-box {
  display: block;
}

.name {
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-top: 10px;
}
/* end of name box */

/* horizontal box 1 */
.h-box1 {
  display: grid;
  grid-template-columns: 40px 1fr;
}

/* mutual person box */
.mutual-person-box {
  height: 30px;
  margin-left: 5px;
  width: 30px;
}

.mutual-pfp {
  border-radius: 15px;
  height: 29px;
  width: 30px;
}
/* end of mutual person box */

/* mutual amount box */
.mutuals-amount-box {
  vertical-align: top;
}

.mutuals {
  color: #a6a6a6;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-top: 5px;
}
/* end of mutual person box */
/* end of horizontal box 1 */

/* Temporary or Placeholder */
/* add button box */
.add-btn-box {
  display: block;
}

.add-f {
  background-color: #1877f2;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 10px;
  width: 100px;
}

.add-f:hover {
  cursor: pointer;
  background-color: rgb(4, 99, 222);
}
/* end of add button */
/* end of vertical box 2 */
/* end of Whole box */